html {
    scroll-behavior: smooth;
}
* {
    font-family: arial;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color:rgb(255, 255, 255);
    height: 120px;
    display: flex;
    justify-content: center;
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;  /* tira os pontos */
    margin: 0;
    padding: 0;
    
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    color: rgb(136, 136, 163);
    text-decoration: none;
    margin: auto;
    padding: 15px;
}

nav a:hover {
    color: white;
    background-color: rgb(66, 179, 229);
}


/* .container img, nav { 
    margin: auto;
}

.container a {
    text-decoration: none;
    margin: 10px;
    color: rgb(136, 136, 163);
}

.container a:hover {
    color: white;
    background-color: rgb(66, 179, 229);
    width: 100%;
    height: 40px;
/* } */

#banner {
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.texto h1 {
    color: #FFFFFF;
    font-size: 50px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.texto h2 {
    color: #FFFFFF;
    font-size: 20px;
    text-shadow: #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.box {
    height: 210px;
    display: flex;
    color: white;
}

.bloc1 {
    flex: 1;
    background-color: #42B3E5;
    padding: 30px;
}

.bloc2 {
    flex: 1;
    background-color: #0384CE;
    padding: 30px;
}

.bloc3 {
    flex: 1;
    background-color: #3156A3;
    padding: 30px;
}

.bannerbox {
    font-size: 21px;
}

.subnannerbox{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box a {
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
    padding: 5px;
    color: white;
}


.box {
    height: 210px;
}

.dias {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0079c7;
  }

  .dias p {
      margin-bottom: 15px;
      font-size: 12px;
  }

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside{
    flex: 1;
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget-text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget-bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

aside .widget-body {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.blocos {
    width: 150px;
    height: 150px;
    background: #0079c7;
    margin-top: 30px;
   margin-right: auto;
   box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

.texto-body, .contato {
    font-size: 13px;
    color: #5c5c5c;
    line-height: 18px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.contato {
    width: 300px;
}

.contato strong {
    font-weight: bolder;
    color: #363636;
}

#p1{ 
    border-top: 1px solid #cec8c8;
}

.contato p {
    border-bottom: 1px solid #cec8c8;
    padding: 8px;
}

article .news_data {
    display: flex;
    margin-top: 25px;
}

article .news_posted_at {
    color: white;
    background-color: #2b4c99;
    font-size: 12px;
    padding: 10px;
    margin-right: 3px;
}

article .news_comments {
    color: white;
    background-color: #39aae1;
    font-size: 12px;
    padding: 10px;
}

article .thumbnail {
    margin-top: 30px;
}

article .thumbnail img {
    width: 100%;
    height: auto;

}

article .newstitle {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
    font-weight: bolder;
}

article .resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;

}

article a {
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
}

footer .box {
    height: 125px;
}


footer .container {
   margin: auto;
}

.footer_area {
    display: flex;
    color: white;
    margin-bottom: 30px;
}

.footer_item {
    flex: 1;
}

.footer-text {
    font-size: 13px;
    color: #5c5c5c;
    line-height: 18px;
}


footer .x1 {
    display: flex;
    width: 250px;
    justify-content: space-between;
    
}

.paragrafo a{
    text-decoration: none;
    color: white;
    line-height: 150%;
    font-size: 12px;
}

.paragrafo a:hover {
    text-decoration: underline;
}

.sub {
    font-size: 11px;
    color: #0079c7;
    margin-top: -10px;
}

.x2 a{
    color: #727272;
}


.flexcolun {
    flex-direction: column;
}

.footer_cont {
    margin-top: 30px;
    font-size: 18px;
    font-size: 21px;
    font-weight: bold;

}

.footer-copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
    
}
 .footer-copy a{
    text-decoration: none;
    color: #5c5c5c;

}

